body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

#about {
    text-align: center;
    padding: 40px;
}

#about img {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
}

img{
    height: 400px;
    width: 700px;
}

#skills, #projects, #resume, #contact {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.project {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
